---
import Icon from "astro-icon";
import Player from "./Player.astro";
---
<style>
  a {
    flex-grow: 0;
  }
</style>

<div
  class="relative z-10 py-4 px-6 flex justify-between"
  transition:name="page header"
  transition:persist
>
  <a
    href="/"
    aria-label="go back to home page"
    class="bg-zinc-900 rounded-full inline-flex justify-center items-center h-8 w-8"
  >
    <Icon name="bi:chevron-left" class="h-4 w-4 -ml-0.5" />
  </a>
  <Player url="https://cdn1.suno.ai/838bb039-40e9-4397-a76a-3f466435857e.mp3" grow="10" />
</div>
